@CHARSET "UTF-8";
#title{
    margin:0px auto;
    width:960px;
    height:100px;
    position: relative;
}
#title #title_inner{
	
	height:29px;
	background-color:#fff;
	box-shadow:2px 2px 1px #c0c0c0;
}

#title #title_inner ul{
    height: 29px;
    list-style: none;
    line-height: 29px;
    margin:0;
    padding: 0;
}
#title #title_inner ul li{
    display: inline-block;
    
}
#title #title_inner ul li a{    
    display: block;
    font-size: 16px;   
    width: 60px;
    height: 29px;
    text-align: center;
    text-decoration: none;
}
#title #title_inner ul li a:hover{
    color: #000; 
}

#title #title_in_left{
    margin-top: 8px;
    width: 672px;
    height: auto;   
}
#title #title_in_left div{
    padding: 5px;
    margin-top: 5px;
    width: 660px;
    height: auto;
    background-color:#fff;
    border: 1px solid #CFCFCF;
    box-shadow: 1px 1px 1px #CFCFCF;
    position: relative;
}
#title #title_in_left div .huati{
    color: #8590a6;
}
#title #title_in_left div .head_p{
    position: absolute;
    top: 1px;
    right: 5px;
}
#title #title_in_left div .head_img{
    some-src-property: url(img/headimg.png);
    
    width: 25px;
    height: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}
#title #title_in_left div .cUserName{
    color: #555555;
    font-size: 14px;
    font-family: "微软雅黑";
}
#title #title_in_left div .head_title{
    font-family: "黑体";
    color: #1e1e1e;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
#title #title_in_left div .head_title:hover{
    color: #1E90FF;
}
#title #title_in_left div .centent{    
    font-family: "新宋体",sans-serif;
    font-size: 14px;
    color: #4d4c4c;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
}
#title #title_in_left div .centent:hover{
    color: #808080;
}
#title #title_in_left div #showall{
    display: block;
    text-decoration: none;
    font-size: 12px;
    width: 50px;
    height: 20px;
   
}
#title #title_in_left div #showall:hover{
    color: #4d4c4c;
}
#title #title_in_left div .ping{
    font-size: 14px;
    color: #8590A6;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#title #title_in_right{
    position: absolute;
    left: 678px;
    top: 30px;
    width:282px;
    height:auto;
    margin-top:8px;
}
#title #title_in_right #title_right{   
    margin-top:5px; 
    width:282px;
    height: 400px;
    background-color:#fff;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 1px gray;
}

#title #title_in_right #title_right div{
    width: 70px;
    height: 70px;
    padding: 5px;
    background: #d8f2da;    
    float: left;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
#title #title_in_right #title_right div:hover{
   transform: scale(1.1);
   transition: 0.5s;
}
#title #title_in_right #title_right div:first-child{
    margin-left: 15px;
}
/*
 * 回到顶部
 */
#back_top img{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right:50px;
}
#back_top img:hover{
    opacity: 0.5;
}









