@CHARSET "UTF-8";
body{
    background:#f7f7f7;
	margin: 0px;
	padding: 0px;
}
#head_div{    
	width: 100%;
	height: 50px;
	margin:5px 0px;
	background-color: white;
	box-shadow:1px 2px 1px #c0c0c0;	
	position: relative;
}

#head_logo{
	position: absolute;
	
}
#head_div #nav{
	width:70%;
	height:50px;
	margin:0 auto;
	position: relative;
	left:10px
}
#head_ul{ 
	margin:0px;
	padding:0px;
	list-style: none;
	line-height:50px;	
	position: absolute;
	left:0px;
	
}
.head_li{	

	display: inline-block;
}
.head_li:hover{
	background-color:#fefefe;
	opacity:0.5;
}
.head_li a{
	font-size:18px;
	width: 80px;
    height: 50px;
	text-decoration: none;
	text-align: center;
	display:block;
	
}

#head_div2{
    margin: 0;
    padding: 0;
	display:inline;
	position: absolute;
	right:50px;
	top: 0px;
	height: 50px;
	width: 150px;
	
	cursor: pointer;
}
#head_div2:hover{
    background:#eee;
    opacity: 0.8;
}
#head_div2 .cdiv1 img{    
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    
}
#head_div2 .cdiv1 p{    
    position: absolute;
    left:45px;
    top: 0px;
}
.cdiv2{
    z-index: 1;
    position: absolute;
    right:100px;
    top: 50px;
    width: 110px;
    height: 123px;
    border: 1px solid #EEEEEE;    
    background: #fff;
    display:none;
    
}
.cdiv2 ul{
  
   margin: 0;
   padding: 0;
   list-style: none;    
}
.cdiv2 ul li{   
    text-align: center;
    
}
.cdiv2 ul li a{
    padding-top: 3px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    display: block;
    width: 110px;
    height: 28px;
    
}
.cdiv2 ul li a:hover{
    color: blue;
    background: #EEEEEE;
}
/*
 * 未访问的链接
 */
.head_div2 li a:link{
    color:#000000;
}
/*
 * 已访问的链接
 */
#head_div2 li a:visited{
    color: #0000FF;
}













