@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
	list-style: none;

}
.banner{	
	margin: 0 auto;
	width: 1400px;
	height: 600px;
	position: relative;
	overflow: hidden;
	box-shadow: 8px 8px 8px #888;
	border-radius: 10px;
}
.banner .img{
	width: 10000px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner .img li{
	float: left;
}
.banner .img li>a>img{
	width: 1400px;
	height: 800px;
}

.banner .num{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
	text-align: center;
	font-size: 0px;
	cursor: pointer;
}
.banner .num li{
	width: 10px;
	height: 10px;
	background-color: #888;
	border-radius: 50%;
	display: inline-block;
	margin:0 3px;
}
.banner .num .on{
	background-color: #f60;
}
.banner .btn{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	display: none;
}
.banner:hover .btn{
	display: block;
}
.banner .btn-l{
	left: 0;
}
.banner .btn-r{
	right: 0;
}














